In [2]:
from scipy.stats import norm
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
apipop = pd.read_csv("apipop.csv")

In [14]:
dnums = apipop["dnum"].unique(); len(dnums)

rng = np.random.default_rng()
clusters = rng.choice(dnums, 15, replace=False)
I = apipop.dnum.isin(clusters)
apipop[I].groupby("dnum").count()

,cds,stype,name,sname,snum,dname,cname,cnum,flag,pcttest,...,not.hsg,hsg,some.col,col.grad,grad.sch,avg.ed,full,emer,enroll,api.stu
dnum,,,,,,,,,,,,,,,,,,,,,
64,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
132,3,3,3,3,3,3,3,3,0,3,...,3,3,3,3,3,3,3,3,3,3
147,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
383,5,5,5,5,5,5,5,5,0,5,...,5,5,5,5,5,5,5,5,5,5
401,552,552,552,552,552,552,552,552,0,552,...,552,552,552,552,552,533,552,552,552,552
406,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2
538,7,7,7,7,7,7,7,7,0,7,...,7,7,7,7,7,7,7,7,7,7
553,3,3,3,3,3,3,3,3,0,3,...,3,3,3,3,3,3,3,3,3,3
556,26,26,26,26,26,26,26,26,0,26,...,26,26,26,26,26,20,26,26,26,26
660,13,13,13,13,13,13,13,13,0,13,...,13,13,13,13,13,13,13,13,13,13
746,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
750,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2
768,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2
821,3,3,3,3,3,3,3,3,0,3,...,3,3,3,3,3,3,3,3,3,3
829,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1

In [90]:
flights = pd.read_csv("clustersampleflights.csv", usecols=["carrier", "dep_delay"]).dropna(axis=0)
flights.head()

  carrier  dep_delay
0      UA        2.0
1      UA        4.0
2      AA        2.0
3      B6       -1.0
4      UA       -4.0

In [91]:
N = 16 # given
M = 336776 # given
Mbar = M/N
print(f"Mbar = {Mbar}")

Mbar = 21048.5

In [102]:
Ms = flights.carrier.value_counts()
Ms

carrier
UA    57979
B6    54169
AA    32093
Name: count, dtype: int64

In [83]:
carriers = flights.carrier.unique()
n = len(carriers)
assert n == 3
print(f"carriers = {carriers} ({len(carriers)})")

carriers = ['UA' 'AA' 'B6'] (3)

In [110]:
Ybar = flights.dep_delay.mean()
Ybar

11.667043351058298

In [127]:
cluster_means = flights.groupby("carrier").mean().dep_delay
cluster_means

carrier
AA     8.586016
B6    13.022522
UA    12.106073
Name: dep_delay, dtype: float64

In [128]:
np.sum((cluster_means*Ms - Ybar*Ms)**2)/(n-1)

7908145773.211962